body{
    margin:0px;
    padding:0px;
}

#container{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    background-color:antiquewhite;
    height:100vh;
    background-size:cover;
    
}
h1{
    margin-top:0px;
}
#guess{
    display:inline;
    margin:50px;
}
#new{
    border:none;
    height:40px;
   
}